.audio {
  display: flex;
  flex-direction: column;
  font-size: $base-font-size;
  margin: 0;

  p {
    margin: 0;
  }

  figcaption {
    margin-left: .5rem;
    margin-top: .5rem;

    p {
      display: inline;
    }
  }

  .stream {
    border-radius: 0 .5rem .5rem 0;
    width: 100%;
  }

  audio {
    background-color: $chrome-audio-color;
    border-radius: .5rem;
    width: 100%;
  }

  .status-player {
    display: flex;
  }

}

.off {
  @include status;
  background-color: $status-off;
}

.on {
  @include status;
  background-color: $status-on;
}
