/////////////////////
//                 //
//      Text       //
//                 //
/////////////////////


small {
  font-size: $base-font-size;
}

.text-center {
  text-align: center;
}

.page {

  h2 {
    font-size: $base-font-size * 2;
    padding-top: 1.5rem;
  }

  h3 {
    font-size: $base-font-size * 1.5;
    padding-top: 1.3rem;
  }

  h4 {
    font-size: $base-font-size * 1.25;
    padding-top: 1.2rem;
  }
}
