//* to be written */

$base-font-family:    'Open Sans', sans;
$base-font-size:      1rem;                   // should be 16px
$font-size-bigger:    1.375rem;               // should be 22px
$line-height-base:    1.5;
$line-height-bigger:  2;

$color1:                  rgb(103, 83, 108);      // Thisle (pale rose)
$color1-dark:             darken($color1, 30);
$color1-darker:           darken($color1, 50);
$color1-light:            lighten($color1, 20);

$color2:                  rgb(238, 215, 244);     // Charade (grayish)
$color2-dark:             darken($color2, 30);
$color2-darker:           darken($color2, 50);
$color2-light:            lighten($color2, 20);

$color3:                  rgb(0, 0, 0);           // Gray (text)
$color3-light:            lighten($color3, 20);

$color4:                  #c82662;
$status-off:              $color4;


$color5:                  #26c847b5;
$status-on:               $color5;

$color6:                  #fff;
$text-white:              $color6;

$color7:                  #f1f3f4;
$chrome-audio-color:      $color7;          // The default chrome audio player color

$max-width-lg:      960px;


//*
//********************
//
//     OTHER MIXINS
//
//********************

@mixin nolist {
  list-style: none;
  padding-left: 0;

  li {
    display: inline-block;
  }
}

@mixin status {
  display: flex;
  border-radius: .5rem 0 0 .5rem;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-around;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding: 0 .5rem;
  color: $text-white;
}
